body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

/* HEADER */

nav {
  background-color: #1F2937;
  color: white;
}

.header ul {
  list-style-type: none;
  display: flex;
}

.header li {
  margin-left: 16px;
  font-size: 18px;
  color: #F9FAF8;
}

nav .container {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  color: #F9FAF8;
}

/* HERO SECTION */

.hero {
  background-color: #1F2937;
  min-height: 400px;
  display: flex;
  align-items: center;
}

.hero p {
  margin: 0;
}

.hero .main {
  font-size: 48px;
  font-weight: 900; 
  color: #F9FAF8;
}

.hero .secondary {
  font-size: 18px;
  color: #E5E7EB;
}

.placeholder {
  background: rgb(127, 135, 143);
  height: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .container {
  padding: 16px;
  display: flex;
  gap: 8px;
}
.hero div {
  flex: 1;
}

.hero button {
  background-color: #3882F6;
  font-size: 18px;
  color:#F9FAF8;
  padding: 6px 16px;
}
